.wrapper.admin {
  height: 100vh;
  overflow: hidden;
}

.wrapper .form-wrapper {
  width: 95%;
  margin: auto;
  height: 100%;
}
.form-wrapper .form-col input {
  padding: 0.4em 0.2em;
  border-radius: 4px;
  border: 1px solid #80deea;
  outline: none;
}

.wrapper .form-wrapper {
  text-align: left;
}

.wrapper .form-wrapper .form-col button {
  background: #80deea;
  border: none;
}

.wrapper .form-wrapper .form-col button[type='submit'] {
  width: 20%;
  padding: 0.4em 0.6em;
  border-radius: 4px;
  margin: 2em auto;
}

.wrapper .form-col {
  display: flex;
  flex-direction: column;
}
.wrapper .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper .form-wrapper .form-col label {
  margin-top: 0.5em;
}

.input-wrapper button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.wrapper .detail-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.5em;
  width: 90%;
  margin: auto;
}

.wrapper .card {
  position: relative;
  background: #eee;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.wrapper .card button {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #ef5350;
  border: none;
}

@media (max-width: 1024px) {
  /* Media Queries for the form should go here */
}
