.container .admin-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container .admin-top-container {
	margin: auto;
	display: grid;
	width: 80%;
	grid-template-columns: repeat(3, 32em);
	grid-gap: 6em;
	justify-content: space-between;
	align-content: center;
}

.container .admin-bottom-container {
	margin: auto;
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-content: center;
	height: auto;
}

.admin .card {
	border-radius: 6px;
	background-color: #e0f7fa;
	/* height: auto; */
	transition: all 0.4s;
}

.manage {
	transition: all 0.4s;
	width: 70em;
	height: auto;
}

.customers {
	height: 560px;
	width: 30em;
	margin-right: 7em;
}

.manage li a {
	cursor: pointer;
	transition: all 0.4s;
}

.tabs {
}
.tabs .mui-tabs__bar .mui-tabs__bar--justified ul {
	color: #f8f8f8;
}

.container .admin-bottom-container .card form {
	margin: 1em auto;
	text-align: left;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.container .admin-bottom-container .card form button {
	align-self: center;
	margin: 1em auto;
	width: 60%;
}

.tab-header {
	background-color: transparent;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	/* width: 100%; */
	padding-top: 1em;
	position: relative;
	top: -34px;
}

.inventory-item-container {
	margin-top: 1em;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1em auto;
}
.admin-bottom-container .inventory-item-container h3 {
	width: 30%;
}

.admin-bottom-container .inventory-header {
}

.admin-bottom-container .inventory-item {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	transition: all 0.4s;
}

.admin-bottom-container .inventory-item:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
