@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.product-images {
	width: 10em;
	display: flex;
	justify-content: center;
}

.products-image-container {
display: flex;
justify-content: center;
}

.products-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.products-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	margin-left: 1em;
}

.products-filter-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: inherit;
	width: 16%;
}

.products-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	transition: all 0.4s;
}

.products-flex-column {
	transition: all 0.4s;
	width: 215px;
	height: 215px;
	display: flex;
	justify-content: center;
	margin: 2em 1em 3em 0;
}

.products-flex-column:hover {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.products-flex-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 1em;
	margin-top: 1em;
}

.products-price {
	font-size: 0.9em;
	font-family: 'Questrial', sans-serif;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.products-name {
	font-family: 'Questrial', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 10px 0 10px;
}


.pagination a {
	color: black;
}

.pagination a:hover {
	color: #32bfc3;
}

.pagination-container {
	display: flex;
	justify-content: center;
	margin-top: auto;

}

.pagination li a:active {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
