.carousel-container {
  width: 75%;
  margin-top: 1em;
}

.carousel-center {
  display: flex;
  justify-content: center;
}

/* .carousel .slide .legend {
  position: absolute;
  bottom: 5em;
  left: 50%;
  margin-left: -28%;
  width: 55%;
  height: 55%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding-top: 1em;
  font-size: 1.7em;
  line-height: 2em;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .carousel .slide .legend:hover {
  background: rgba(0, 0, 0, 0.8);
} */

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  content: "";
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 10px;
}

@media (min-width: 320px) {
  .carousel-container {
    width: 90%;
    padding-top: 1em;
  }

  .carousel .slide .legend {
    bottom: 3em;
    margin-left: -36%;
    width: 72%;
    height: 65%;
    padding-top: 0.5em;
    font-size: 0.5em;
    line-height: 2em;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
  .carousel.carousel-slider .control-arrow {
    padding: 3px;
  }
}

@media (min-width: 375px) {
  .carousel-container {
    width: 90%;
    padding-top: 1em;
  }

  .carousel .slide .legend {
    bottom: 2em;
    margin-left: -38%;
    width: 75%;
    height: 65%;
    padding-top: 0.5em;
    font-size: 0.6em;
    line-height: 2em;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
  }
  .carousel.carousel-slider .control-arrow {
    padding: 5px;
  }
}

@media (min-width: 425px) {
  .carousel-container {
    width: 90%;
    padding-top: 1em;
  }

  .carousel .slide .legend {
    bottom: 2em;
    margin-left: -38%;
    width: 75%;
    height: 65%;
    padding-top: 0.5em;
    font-size: 0.7em;
    line-height: 2em;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
  }
  .carousel.carousel-slider .control-arrow {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  .carousel-container {
    width: 90%;
    padding-top: 1em;
  }

  .carousel .slide .legend {
    bottom: 3.5em;
    margin-left: -35%;
    width: 70%;
    height: 65%;
    padding-top: 0.5em;
    font-size: 1.2em;
    line-height: 2em;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }
  .carousel.carousel-slider .control-arrow {
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .carousel-container {
    width: 90%;
    padding-top: 1em;
  }

  .carousel .slide .legend {
    bottom: 4em;
    margin-left: -33%;
    width: 65%;
    height: 65%;
    padding-top: 0.5em;
    font-size: 1.5em;
    line-height: 2em;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }
  .carousel.carousel-slider .control-arrow {
    padding: 10px;
  }
}

/* @media (min-width: 1440px) {
  .carousel-container {
    width: 90%;
    padding-top: 1em;
  }

  .carousel .slide .legend {
    bottom: 4em;
    margin-left: -30%;
    width: 60%;
    height: 65%;
    padding-top: 0.5em;
    font-size: 2em;
    line-height: 2.2em;
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }
  .carousel.carousel-slider .control-arrow {
    padding: 20px;
  }
} */
/* 
@media (min-width: 2560px) {
  .carousel-container {
    width: 90%;
    padding-top: 1em;
  }

  .carousel .slide .legend {
    bottom: 5em;
    margin-left: -30%;
    width: 60%;
    height: 65%;
    padding-top: 0.5em;
    font-size: 3.2em;
    line-height: 2.2em;
   
  }

  .carousel .control-arrow:before,
  .carousel.carousel-slider .control-arrow:before {
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
  }
  .carousel.carousel-slider .control-arrow {
    padding: 20px;
  }
} */
