.carousel-container {
    width: 75%;
    padding-top: 1em;
}

.carousel-center {
    display: flex;
    justify-content: center;
}

.carousel .slide .legend {
    display: flex;
    position: absolute;
    bottom: 5em;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding-top: 3.8em;
    font-size: 1.8em;
    text-align: center;
    opacity: 1;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    content: '';
}

.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 10px;
}
