@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

.filter-label {
  color: black;
  font-size: 0.8em;
  margin-top: -0.4em;
  padding-left: 1em;
}


.filter-container {
  margin: 4.5em 0 0 1em;
}

.filter-checkbox-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.filter-label {
  font-size: 1em;
  color: black;
}


.md-panel-column:hover {
  cursor: pointer;
}

.md-panel-content {
  color: black;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}

.md-paper .md-paper--1 .md-expansion-panel-list {
  outline: none;
}

.md-text {
  color: black;
  font-family: "Questrial", sans-serif;
  font-size: 1.8em;
  display: flex;
  justify-content: flex-start;
  letter-spacing: 3px;
  padding: 5px 0 0 5px;
}

.md-icon {
  opacity: 0;

}

.md-panel-header {
  outline: none;
}

.md-dialog-footer {
  opacity: 0;
}

.md-panel-column {
  background-color: rgba(50, 191, 195, 0.5);
  height: 1.5em;
  margin-bottom: 0.8em; 
  color: black;
}
