@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

input[type="checkbox"] {
  width: 1em;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

label {
  display: flex;
  justify-content: flex-start;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0.2em;
  margin-top: -0.2em;
}

.sub-category {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.2em;
}

.filter-container {
  margin: 2em 0em -4em 1em;
}

.filter-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-left: -1em;
}

.filter-apply-button {
  outline: none;
  border: none;
  background-color: rgba(251, 204, 6, 0.5);
  width: 4em;
  height: 2em;
  font-size: 1.2em;
  font-family: "Questrial", sans-serif;
  border-radius: 10px;
}

.filter-clear-button {
  outline: none;
  border: none;
  background-color: rgba(251, 204, 6, 0.5);
  width: 5.5em;
  height: 2em;
  font-size: 1.2em;
  font-family: "Questrial", sans-serif;
  border-radius: 10px;
}

.filter-apply-button:hover {
  background-color: rgb(251, 204, 6);
  transition: 0.3s;
  cursor: pointer;
}

.filter-clear-button:hover {
  background-color: rgb(251, 204, 6);
  transition: 0.3s;
  cursor: pointer;
}

.md-panel-column:hover {
  cursor: pointer;
}

.md-panel-content {
  color: black;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* margin-left: 0.5em; */
}

.md-paper .md-paper--1 .md-expansion-panel-list {
  outline: none;
}

.md-text {
  color: black;
  font-family: "Questrial", sans-serif;
  font-size: 2em;
  display: flex;
  justify-content: flex-start;
  letter-spacing: 3px;
  padding-left: 5px;
}

.md-icon {
  opacity: 0;
}

.md-panel-header {
  outline: none;
  margin-top: 1em;
}

.md-dialog-footer {
  opacity: 0;
}

.md-panel-column {
  background-color: rgba(50, 191, 195, 0.5);
  height: 1.3em;
  color: black;
}

@media (max-width: 1024px) {
  .filter-container {
    margin: 2em 0em -4em 1.5em;
  }
  .filter-buttons-container {
    margin-top: 1em;
    margin-left: 0;
  }

  .filter-apply-button {
    width: 3.5em;
    height: 2em;
    font-size: 1em;
  }

  .filter-clear-button {
    width: 5.5em;
    height: 2em;
    font-size: 1em;
  }
}


@media (max-width: 768px) {
  .filter-container {
    margin: 2em 0em -4em 1.5em;
  }

  label {
    font-size: 1em;
  }

  .filter-buttons-container {
    margin-left: 0;
  }

  .filter-apply-button {
    width: 3.5em;
    height: 2.4em;
    font-size: 1em;
  }

  .filter-clear-button {
    width: 5.5em;
    height: 2.4em;
    font-size: 1em;
  }

  .md-text {
    font-size: 1.8em;
  }
}

@media (max-width: 425px) {
  input[type="checkbox"] {
    width: 1em;
  }
  
  input[type="checkbox"]:hover {
    cursor: pointer;
  }
  
  label {
    display: flex;
    justify-content: flex-start;
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding-left: 0.2em;
    margin-top: -0.2em;
  }
  
  .sub-category {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2em;
  }
  
  .filter-container {
    margin: 2em 0em -4em 1em;
  }
  
  .filter-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2.5em;
  }
  
  .filter-apply-button {
    outline: none;
    border: none;
    background-color: rgba(251, 204, 6, 0.5);
    width: 4em;
    height: 2em;
    font-size: 1em;
    font-family: "Questrial", sans-serif;
    border-radius: 10px;
  }
  
  .filter-clear-button {
    outline: none;
    border: none;
    background-color: rgba(251, 204, 6, 0.5);
    width: 5.5em;
    height: 2em;
    font-size: 1em;
    font-family: "Questrial", sans-serif;
    border-radius: 10px;
  }
  
  .filter-apply-button:hover {
    background-color: rgb(251, 204, 6);
    transition: 0.3s;
    cursor: pointer;
  }
  
  .filter-clear-button:hover {
    background-color: rgb(251, 204, 6);
    transition: 0.3s;
    cursor: pointer;
  }
  
  .md-panel-column:hover {
    cursor: pointer;
  }
  
  .md-panel-content {
    color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* margin-left: 0.5em; */
  }
  
  .md-paper .md-paper--1 .md-expansion-panel-list {
    outline: none;
  }
  
  .md-text {
    color: black;
    font-family: "Questrial", sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 3px;
    padding-left: 5px;
  }
  
  .md-icon {
    opacity: 0;
  }
  
  .md-panel-header {
    outline: none;
    margin-top: 0;
  }
  
  .md-dialog-footer {
    opacity: 0;
  }
  
  .md-panel-column {
    background-color: rgba(50, 191, 195, 0.5);
    height: 1.3em;
    color: black;
  }
}


