* {
    margin: 0;
    padding: 0;
  }

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.footer-para {
     font-size: 0.8em;
}

.footer-container {
    min-height: 2.5em;
}