@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.header-container {
  background-color: #32bfc3;
  width: 100%;
  height: 12vh;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.header-container .nav-column-one {
  display: flex;
  position: absolute;
  bottom: 0;
}

.header-container .nav-column-two {
  width: 18vw;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

li {
  list-style: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.nav-one {
  font-size: 1.2em;
  padding: 0 5vw 1vw 5vw;
}

.nav-two {
  font-size: 1em;
  padding: 0 2vw 1vw 2vw;
}

.nav-one a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-two a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-one a:hover {
  color: #fbcc06;
}

.nav-two a:hover {
  color: #fbcc06;
}

.nav-one a:focus {
  border-bottom: 2px solid #fbcc06;
  text-decoration: none;
}

.nav-two a:focus {
  border-bottom: 2px solid #fbcc06;
}

.header-logo {
  width: 7vw;
}

.header-container .header-logo-container {
  width: 95vw;
  display: flex;
  justify-content: flex-start;
}
