@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

.product-page-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.product-page-image-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.product-page-info-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.product-page-container {
  width: 65%;
  margin-top: 4em;
  padding: 4em;
}

.product-page-row:after {
  content: "";
  position: absolute;
  top: 180px;
  left: 180px;
  right: 180px;
  bottom: 130px;
  border: 2px solid #32bfc3;
}

.product-page-center:after {
  content: "";
  position: absolute;
  top: 160px;
  left: 160px;
  right: 160px;
  bottom: 110px;
  border: 2px solid #fbcc06;
}

.product-page-button {
  transition: box-shadow 0.3s;
  width: 7.5em;
  height: 2.5em;
  background-color: #f1c204;
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
  font-weight: bolder;
  outline: none;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  
}

.product-page-button-container {
  margin-top: 2em;
}

.product-page-button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  font-size: 1.3em;
  transition: 0.4s;
  
}

.product-page-image {
    width: 24em;
}

.product-page-image-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 6em;
}

.product-page-name {
  font-size: 2.5em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 1em;
  display: flex;
  justify-content: center;

}

.product-page-description {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: normal;
  text-align: left;
  display: flex;
  justify-content: center;
}

.product-page-price {
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
}

.product-page-info-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 12em;
  width: 50%;
  margin-top: -2em;
  z-index: 1;
}

.product-page-center {
  display: flex;
  justify-content: center;
}

.back-container {
  margin-top: 3em;
  margin-bottom: -4em;
  width: 25%;
}

.back-button {
  border: none;
  padding: 2px;
}

.back-button:hover {
  font-weight: bold;
  transition: 0.4s;
}
